{% extends 'common/base.html' %}

{% block content %}

</p>
<div class="card">
    <div class="card-body">
        <div class="row text-center mt-3">
            <div class="col">
                <label class="form-label">ID</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <label class="form-label">PW</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <label class="form-label">PW check</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <label class="form-label">Nickname</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="row text-end mt-3">
            <div class="col">
                <button class="btn btn-info">SIGN</button>
            </div>
        </div>
    </div>
</div>
</p>

{% endblock %}